# .NET Core specific
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

# VS Code
.vscode/
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# IDE specific
.idea/
*.sln.iml

# Config files
appsettings*.json